<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SpecialMapper" >
  <resultMap id="BaseResultMap" type="com.yxsd.kanshu.portal.model.Special" >
    <id column="special_id" property="specialId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="index" property="index" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="withImgInfoMap" extends="BaseResultMap" type="com.yxsd.kanshu.portal.model.Special">
    	<collection property="specialImgs" ofType="com.yxsd.kanshu.portal.model.SpecialImg">  
            <id column="special_img_id" property="specialImgId"/>  
            <result column="img_url" property="imgUrl"/>
            <result column="i_type" property="type" jdbcType="INTEGER" />
            <result column="target" property="target" jdbcType="VARCHAR" />
            <result column="title" property="title" jdbcType="VARCHAR" />
            <result column="special_id" property="specialId"/>  
            <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />  
        </collection>
  </resultMap>

  <sql id="Base_Where">
    <if test="type != null"> and type= #{type}</if>
  </sql>

  <sql id="Base_Column_List" >
    special_id, type, name, content, index, create_date,update_date
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from special where special_id = #{specialId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from special
    where special_id = #{specialId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yxsd.kanshu.portal.model.Special" >
    insert into special (special_id, type, name,content, index, create_date, update_date)
    values (#{specialId,jdbcType=BIGINT}, #{type,jdbcType=SMALLINT}, #{name,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR}, #{index,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yxsd.kanshu.portal.model.Special" >
    insert into special
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="specialId != null" >
        special_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="name != null and name !=''" >
        name,
      </if>
      <if test="content != null and content != ''" >
        content,
      </if>
      <if test="index != null" >
        index,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="specialId != null" >
        #{specialId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="name != null and name != ''" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null and content != ''" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        #{index,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxsd.kanshu.portal.model.Special" >
    update special
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="name != null and name != ''" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null and content != ''" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        index = #{index,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where special_id = #{specialId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxsd.kanshu.portal.model.Special" >
    update special
    set type = #{type,jdbcType=SMALLINT},
      name = #{name,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      index = #{index,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where special_id = #{specialId,jdbcType=BIGINT}
  </update>
  <select id="getAll" resultMap="withImgInfoMap" parameterType="map">
    select s.* , i.*,i.type as i_type
    from special s
    LEFT JOIN special_img i
    ON s.special_id = i.special_id where 1=1
    <include refid="Base_Where" />
  </select>
</mapper>