<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AuthorMapper">
    <resultMap id="BaseResultMap" type="com.yxsd.kanshu.product.model.Author">
        <id column="author_id" property="authorId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="penname" property="penname" jdbcType="VARCHAR" />
        <result column="desc" property="desc" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Where">
        <if test="authorId != null"> and author_id= #{authorId}</if>
        <if test="name != null and name != ''"> and name= #{name}</if>
        <if test="penname != null and penname != ''"> and penname= #{penname}</if>
    </sql>
    <sql id="Base_Column_List">
        author_id,`name`,penname,`desc`,create_date,update_date
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List" /> from author where author_id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from author where author_id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="authorId" parameterType="com.yxsd.kanshu.product.model.Author">
        insert into author
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="authorId != null">author_id,</if>
            <if test="name != null and name != ''">`name`,</if>
            <if test="penname != null and penname != ''">penname,</if>
            <if test="desc != null and desc != ''">`desc`,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateDate != null">update_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="authorId != null">
                #{authorId,jdbcType=BIGINT},
            </if>
            <if test="name != null and name != ''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="penname != null and penname != ''">
                #{penname,jdbcType=VARCHAR},
            </if>
            <if test="desc != null and desc != ''">
                #{desc,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yxsd.kanshu.product.model.Author">
        update author
        <set>
            <if test="name != null and name = ''">
               nam = #{name,jdbcType=VARCHAR},
            </if>
            <if test="penname != null and penname = ''">
                penname =  #{penname,jdbcType=VARCHAR},
            </if>
            <if test="desc != null and desc = ''">
                `desc` =  #{desc,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where author_id = #{authorId,jdbcType=BIGINT}
    </update>

    <select id="getAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List" />
        from author where 1=1
        <include refid="Base_Where" />
        order by author_id
    </select>
    <select id="pageCount" resultType="java.lang.Integer" parameterType="map">
        select count(1) from author where 1=1
        <include refid="Base_Where" />
    </select>
    <select id="pageData" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List" />
        from author where 1=1
        <include refid="Base_Where" />
        order by author_id desc
    </select>
</mapper>
