<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="VolumeMapper">
    <resultMap id="BaseResultMap" type="com.yxsd.kanshu.product.model.Volume">
        <id column="volume_id" property="volumeId" jdbcType="BIGINT" />
        <result column="book_Id" property="bookId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="desc" property="desc" jdbcType="VARCHAR" />
        <result column="idx" property="idx" jdbcType="INTEGER" />
        <result column="shelf_status" property="shelfStatus" jdbcType="INTEGER" />
        <result column="copyright_code" property="copyrightCode" jdbcType="VARCHAR" />
        <result column="copyright_book_id" property="copyrightBookId" jdbcType="BIGINT" />
        <result column="copyright_volume_id" property="copyrightVolumeId" jdbcType="BIGINT" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Where">
        <if test="volumeId != null"> and volume_id= #{volumeId}</if>
        <if test="bookId != null"> and book_id= #{bookId}</if>
        <if test="name != null and name != ''"> and name= #{name}</if>
        <if test="copyrightCode != null and copyrightCode != ''"> and copyright_code= #{copyrightCode}</if>
        <if test="copyrightBookId != null"> and copyright_book_id= #{copyrightBookId}</if>
        <if test="copyrightVolumeId != null"> and copyright_volume_id= #{copyrightVolumeId}</if>
        <if test="shelfStatus != null"> and shelf_status= #{shelfStatus}</if>
    </sql>
    <sql id="Base_Column_List">
        volume_id,book_id,`name`,`desc`,idx,copyright_code,
        copyright_book_id,copyright_volume_id,shelf_status,create_date,update_date
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map">
        select <include refid="Base_Column_List" /> from volume where chapter_id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from volume where volume_id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="volumeId" parameterType="com.yxsd.kanshu.product.model.Volume">
        insert into volume
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="volumeId != null">volume_id,</if>
            <if test="name != null and name !=''">name,</if>
            <if test="bookId != null">book_id,</if>
            <if test="idx != null">idx,</if>
            <if test="desc != null and desc != ''">`desc`,</if>
            <if test="shelfStatus != null">shelf_status,</if>
            <if test="copyrightCode != null and copyrightCode != ''">copyright_code,</if>
            <if test="copyrightBookId != null">copyright_book_id,</if>
            <if test="copyrightVolumeId != null">copyright_volume_id,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateDate != null">update_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="volumeId != null">
                #{volumeId,jdbcType=BIGINT},
            </if>
            <if test="name != null and name != ''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="bookId != null">
                #{bookId,jdbcType=BIGINT},
            </if>
            <if test="idx != null">
                #{idx,jdbcType=INTEGER},
            </if>
            <if test="desc != null and desc != ''">
                #{desc,jdbcType=VARCHAR},
            </if>
            <if test="shelfStatus != null">
                #{shelfStatus,jdbcType=INTEGER},
            </if>
            <if test="copyrightCode != null and copyrightCode != ''">
                #{copyrightCode,jdbcType=VARCHAR},
            </if>
            <if test="copyrightBookId != null">
                #{copyrightBookId,jdbcType=BIGINT},
            </if>
            <if test="copyrightVolumeId != null">
                #{copyrightVolumeId,jdbcType=BIGINT},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yxsd.kanshu.product.model.Volume">
        update volume
        <set>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="bookId != null">
              book_id = #{bookId,jdbcType=BIGINT},
            </if>
            <if test="idx != null">
               idx = #{idx,jdbcType=INTEGER},
            </if>
            <if test="desc != null and desc != ''">
               `desc` = #{desc,jdbcType=VARCHAR},
            </if>
            <if test="shelfStatus != null">
                shelf_status = #{shelfStatus,jdbcType=INTEGER},
            </if>
            <if test="copyrightCode != null and copyrightCode != ''">
                copyright_code = #{copyrightCode,jdbcType=VARCHAR},
            </if>
            <if test="copyrightBookId != null">
                copyright_book_id = #{copyrightBookId,jdbcType=BIGINT},
            </if>
            <if test="copyrightVolumeId != null">
                copyright_volume_id = #{copyrightVolumeId,jdbcType=BIGINT},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where
        volume_id = #{volumeId,jdbcType=BIGINT}
    </update>

    <select id="getAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List" />
        from volume where 1=1
        <include refid="Base_Where" />
        order by idx
    </select>
    <select id="pageCount" resultType="java.lang.Integer" parameterType="map">
        select count(1) from volume where 1=1
        <include refid="Base_Where" />
    </select>
    <select id="pageData" resultMap="BaseResultMap" parameterType="map">
        select <include refid="Base_Column_List" />
        from volume where 1=1
        <include refid="Base_Where" />
        order by create_date desc
    </select>
</mapper>
