<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ChapterMapper">
    <resultMap id="BaseResultMap" type="com.kanshu.kanshu.product.model.Chapter">
        <id column="chapter_id" property="chapterId" jdbcType="BIGINT" />
        <result column="volume_id" property="volumeId" jdbcType="BIGINT" />
        <result column="book_id" property="bookId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="idx" property="idx" jdbcType="INTEGER" />
        <result column="price" property="price" jdbcType="INTEGER" />
        <result column="word_count" property="wordCount" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Where">
        <if test="chapterId != null"> and chapter_id= #{chapterId}</if>
        <if test="bookId != null"> and book_id= #{bookId}</if>
        <if test="volumeId != null"> and volume_id= #{volumeId}</if>
        <if test="startIdx"><![CDATA[ and idx >= #{startIdx} ]]></if>
        <if test="endIdx"><![CDATA[ and idx <= #{endIdx} ]]></if>
    </sql>
    <sql id="Base_Column_List">
        chapter_id,volume_id,book_id,name,idx,price,word_count,status,create_date,update_date
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map">
        select <include refid="Base_Column_List" /> from chapter${num} where chapter_id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from chapter${num} where chapter_id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="chapterId" parameterType="com.kanshu.kanshu.product.model.Chapter">
        insert into chapter${num}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chapterId != null">chapter_id,</if>
            <if test="volumeId != null">volume_id,</if>
            <if test="bookId != null">book_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="idx != null">idx,</if>
            <if test="price != null">price,</if>
            <if test="wordCount != null">word_count,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="status != null">status,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateDate != null">update_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chapterId != null">
                #{chapter_id,jdbcType=BIGINT},
            </if>
            <if test="volumeId != null">
                #{volume_id,jdbcType=BIGINT},
            </if>
            <if test="bookId != null">
                #{book_id,jdbcType=BIGINT},
            </if>
            <if test="name != null and name != ''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="idx != null">
                #{idx,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="wordCount != null">
                #{word_count,jdbcType=INTEGER},
            </if>
            <if test="content != null and content != ''">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="getAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List" />
        <if test="type == 1">
            ,content
        </if>
        from chapter${num} where 1=1
        <include refid="Base_Where" />
        order by idx
    </select>
    <select id="pageCount" resultType="java.lang.Integer" parameterType="map">
        select count(1) from chapter${num} where 1=1
        <include refid="Base_Where" />
    </select>
    <select id="pageData" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List" />
        from chapter${num} where 1=1
        <include refid="Base_Where" />
        order by create_date desc
    </select>
</mapper>
